<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Priorite</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{ item.nom }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.priorite }}</td>
            <td>{{ item.etat }}</td>
            <td>
                <button (click)="editTask(item)">Edit</button>
                <button (click)="deleteTask(item)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
